@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;

@layer base {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    @apply font-baij;
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
  }

  button {
    border: none;
    background: transparent;
  }

  a:focus,
  button:focus,
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }

  button {
    cursor: pointer;
  }
  :root {
    --radius: 0.5rem;

  }

}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-fill-transparent {
    -webkit-text-fill-color: transparent;
  }

  .duration-50 {
    animation-duration: 50ms;
  }

  .text-fill-none {
    -webkit-text-fill-color: unset;
  }

  .bg-clip-none {
    background-clip: unset;
  }

  .custom-border-mask::after {
    background: linear-gradient(90deg, #39e168 -1.88%, #6d64d3 104.56%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 0.2s;
  }

  .char-0-1-inner .char {
      opacity: 0.1;
  }

  .font-kerning {
    font-kerning: none;
  }

  .less-than-20px {
    width: calc(100% - 20px);
  }
}

::-webkit-scrollbar-thumb {
  @apply bg-iconbgDark;
  border-radius: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  @apply bg-secondarybgDark;
}

::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}


/* GLOBAL */
/* do not apply styling on classes like col,btn, full,col-right/left,more etc without inheriting them */